	#header-intro
	{
		position: relative;
		padding: 1em 1em 10em 0em;

		background: #111111 url(images/001.jpeg) no-repeat center;
		background-size: cover;
        
    }

.title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}

	#header
	{
		position: relative;
		padding: 1em 1em 19em 0em;
	}

	.container
	{
		overflow: auto;
		margin: auto;
		width: 1400px;
	}
	
	#wrapper
	{
		position: relative;
		padding: 0em 0em 2em 0em;
		background: #FFFFCC;
	}
	

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
        padding: 3em 0em 2em 0em;
	}

tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #a8bfde;
border-radius: 20px;
position: relative;
left: 22rem;
}

table{
border-bottom-width: 1px;
width: 50rem;
border-bottom-color: #a8bfde;
border-radius: 30px;
position: relative;
left: 4.5rem;
margin-bottom: 2rem;
}

td, th {
padding:1rem 5rem;
font-size: 12px;
font-family: Verdana;
color: #ff9765;
}

tr:nth-child(even) {
background: #d3dfed
}
tr:nth-child(odd) {
background: #FFF
}

	#main
	{
		position: relative;
		padding: 2em 0em 2em 0em;
		background: #FF9900;
		background-size: cover;
		text-align: center;
	}

.clikbox {
    background-color: white;
    color: #ff9765;
    width: 50rem;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    position: relative; 
    bottom: 1.5rem;
    left: 20rem; 
    cursor: pointer;
    margin-top: 0.5rem;
}

#more{
    border-radius: 20px;
    left: 22rem;
}